Flask==2.2.5
requests==2.31.0
selenium==4.18.1
beautifulsoup4==4.12.3
lxml==5.1.0
spacy==3.7.2
python-dotenv==1.0.1
gunicorn==21.2.0
docker
faiss-cpu
requests
pandas
numpy
scikit-learn
sentence_transformers